body {
	font-size: 16px;
	color: #757575;
	font-family: Calibri, Tahoma, Arial;
}

h1, h2, h3, h4, h5 {
	display: block;
	font-weight: bold;
}
h1 {
	font-size: 24px;
}
p {
	display: block;
	line-height: 1.5em;
	font-size: 1em;
	// margin: 1em 0;
}
#wrapper {
	position: relative;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 5%;
}
#wrapper img {
	width: 100%;
	max-width: 180px;
}
em {
	font-weight: bold;
}
.note {
	color: red;
	margin-top: -20px;
	// padding-top: 10px;
}
a.reset {
	background-color: none;
	background: none;
	width: auto;
	height: auto;
	border: none;
	&:hover {
		background-color: none;
		background: none;
		width: auto;
		height: auto;
	}
}

